---
import { languages } from '../i18n/ui';
import { getLangFromUrl } from '../i18n/utils';
const currentLang = getLangFromUrl(Astro.url);
const langEntries = Object.entries(languages);
---
<div class="lang-sw">
  {langEntries.map(([code, name]) => {
    const href = code === 'en' ? '/' : `/${code}`;
    const isActive = code === currentLang;
    return (
      <a
        href={href}
        class={`lang-item ${isActive ? 'lang-active' : ''}`}
        title={name}
        lang={code}
      >
        {name}
      </a>
    );
  })}
</div>
